@import url('https://fonts.googleapis.com/css?family=Aldrich');
@import url('https://fonts.googleapis.com/css?family=Cabin');
@import url('https://fonts.googleapis.com/css?family=Black+Ops+One');

body {
    background-color: #232426;
    margin-top: 0 20% 0 20%;
    min-width: 1035px;
}

h1 {
    color: #5395ff;
    font-family: 'Aldrich', sans-serif !important;
}

h2 {
    color: #ffd400;
    font-family: 'Aldrich', sans-serif !important;
}

h3 {
    color: white;
    font-family: 'Aldrich', sans-serif !important;
}

h4 {
    font-family: 'Black Ops One', cursive !important;
    color: white;
    font-size: 105px;
}

p {
    color: white !important;
    font-family: 'Cabin', sans-serif !important;
}

ul {
    list-style: none;
}

ul li {
    color: white;
    font-family: 'Cabin', sans-serif !important;
}

a {
    color: #5395ff;
    text-decoration: underline;
}

a:active {
    color: #ffd400;
}

a:visited {
    text-decoration: line-through;
    color: #545454;
}

#header {
    width: 100%;
    height: 100px;
    background-color: black;
    margin-top: 0px;
    padding-top: 0px;
    position: absolute;
    top: 0;
    left: 0px;
    min-width: 846px;
    z-index: 1;
}

#logoimg {
    float: left;
    height: 100px;
}

#info {
    padding-right: 20px;
    float: right;
}

#info li {
    display: inline-block;
    margin-top: 17.5px;
}

#email {
    background: #7634d9;
    background-image: -webkit-linear-gradient(top, #7634d9, #38199e);
    background-image: -moz-linear-gradient(top, #7634d9, #38199e);
    background-image: -ms-linear-gradient(top, #7634d9, #38199e);
    background-image: -o-linear-gradient(top, #7634d9, #38199e);
    background-image: linear-gradient(to bottom, #7634d9, #38199e);
    font-family: 'Aldrich', sans-serif !important;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

#email:hover {
    background: #874fff;
    background-image: -webkit-linear-gradient(top, #874fff, #7634d9);
    background-image: -moz-linear-gradient(top, #874fff, #7634d9);
    background-image: -ms-linear-gradient(top, #874fff, #7634d9);
    background-image: -o-linear-gradient(top, #874fff, #7634d9);
    background-image: linear-gradient(to bottom, #874fff, #7634d9);
    text-decoration: none;
}

#facebook {
    background: #3b5998;
    background-image: -webkit-linear-gradient(top, #3b5998, #112c61);
    background-image: -moz-linear-gradient(top, #3b5998, #112c61);
    background-image: -ms-linear-gradient(top, #3b5998, #112c61);
    background-image: -o-linear-gradient(top, #3b5998, #112c61);
    background-image: linear-gradient(to bottom, #3b5998, #112c61);
    font-family: 'Aldrich', sans-serif !important;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

#facebook:hover {
    background: #5272b3;
    background-image: -webkit-linear-gradient(top, #5272b3, #304e8a);
    background-image: -moz-linear-gradient(top, #5272b3, #304e8a);
    background-image: -ms-linear-gradient(top, #5272b3, #304e8a);
    background-image: -o-linear-gradient(top, #5272b3, #304e8a);
    background-image: linear-gradient(to bottom, #5272b3, #304e8a);
    text-decoration: none;
}

#newsletter {
    background: #eb1717;
    background-image: -webkit-linear-gradient(top, #eb1717, #991616);
    background-image: -moz-linear-gradient(top, #eb1717, #991616);
    background-image: -ms-linear-gradient(top, #eb1717, #991616);
    background-image: -o-linear-gradient(top, #eb1717, #991616);
    background-image: linear-gradient(to bottom, #eb1717, #991616);
    font-family: 'Aldrich', sans-serif !important;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

#newsletter:hover {
    background: #eb3838;
    background-image: -webkit-linear-gradient(top, #eb3838, #d42222);
    background-image: -moz-linear-gradient(top, #eb3838, #d42222);
    background-image: -ms-linear-gradient(top, #eb3838, #d42222);
    background-image: -o-linear-gradient(top, #eb3838, #d42222);
    background-image: linear-gradient(to bottom, #eb3838, #d42222);
    text-decoration: none;
}

#slack {
    background: #4cff52;
    background-image: -webkit-linear-gradient(top, #4cff52, #17994f);
    background-image: -moz-linear-gradient(top, #4cff52, #17994f);
    background-image: -ms-linear-gradient(top, #4cff52, #17994f);
    background-image: -o-linear-gradient(top, #4cff52, #17994f);
    background-image: linear-gradient(to bottom, #4cff52, #17994f);
    font-family: 'Aldrich', sans-serif !important;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

#slack:hover {
    background: #6efa7e;
    background-image: -webkit-linear-gradient(top, #6efa7e, #4edb46);
    background-image: -moz-linear-gradient(top, #6efa7e, #4edb46);
    background-image: -ms-linear-gradient(top, #6efa7e, #4edb46);
    background-image: -o-linear-gradient(top, #6efa7e, #4edb46);
    background-image: linear-gradient(to bottom, #6efa7e, #4edb46);
    text-decoration: none;
}


#top { /*:(*/ }

#home {
    width: 50px;
}

.expandable {
    background-color: #444444;
    padding: 1% 0 2% 0;
}

.expandable p {
    padding: 0 0 0 1%;
}

#top ul li {
    display: inline-block;
}

#home {
    top: -10px;
}

.btn {
  text-shadow: 1px 1px 3px #666666;
  font-family: 'Aldrich', sans-serif;
  color: #ffffff;
  font-size: 18spx;
  background: #3498db;
  padding: 10px 20px 10px 20px;
  border: solid #1f628d 2px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

#homebtn {
  text-shadow: 1px 1px 3px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 21px;
  background: #ffd400;
  padding: 10px 20px 10px 20px;
  border: solid #ffaa00 2px;
  text-decoration: none;
}

#homebtn:hover {
  background: #ffde4c;
  background-image: -webkit-linear-gradient(top, #ffde4c, #fac903);
  background-image: -moz-linear-gradient(top, #ffde4c, #fac903);
  background-image: -ms-linear-gradient(top, #ffde4c, #fac903);
  background-image: -o-linear-gradient(top, #ffde4c, #fac903);
  background-image: linear-gradient(to bottom, #ffde4c, #fac903);
  text-decoration: none;
}

#slmenu ul li{
    display: inline-block;
    font-size: 30px;
}

#slmenu ul li:after {
    content: " \00b7";
}

#slmenu ul li#last:after {
    content: "";
}

#middle {
    width: 1000px;
    height: 500px; /*blaze it*/
}

#slideshow {
    /*background-color: orange;*/
    position: relative;
    float: left;
    width: 667px;
    height: 500px;
}

#slideshow img {
    float: left;
    width: inherit;
    height: inherit;
}

#captions {
    position: absolute;
    float: left;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    width: 667px;
    height: 90px;
}

#news {
    background-color: #545454;
    height: 500px;
    width: 310px;
    margin: 0 0 0 0;
    float: right;
    overflow-y: scroll;
    padding-right: 17px;
}

.row {
    display: table;
    padding: 0 5% 0 5%;
}

.lcol {

}

.rcol {
    display: table-cell;
}

#timer {
    position: relative;
}

.trophy {
    width: 30px;
}

.slide img {
    min-width: 100%;
}
